In [1]:
import numpy as np
import pandas as pd
import random

In [8]:
df = pd.read_csv("./data/diabetes/diabetes_012_health_indicators_BRFSS2015.csv")
df.head()

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,5.0,18.0,15.0,1.0,0.0,9.0,4.0,3.0
1,0.0,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,3.0,0.0,0.0,0.0,0.0,7.0,6.0,1.0
2,0.0,1.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,5.0,30.0,30.0,1.0,0.0,9.0,4.0,8.0
3,0.0,1.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,11.0,3.0,6.0
4,0.0,1.0,1.0,1.0,24.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,3.0,0.0,0.0,0.0,11.0,5.0,4.0

In [9]:
df_male, df_female = df.loc[df["Sex"] == 0], df.loc[df["Sex"] == 1]

In [10]:
def unclean_df(df: pd.DataFrame) -> pd.DataFrame:
    target_rem = df.drop(["Diabetes_012", "Sex"], axis=1)

    row, col = np.where(np.random.random(target_rem.shape) < .001)
    for r,c in zip(row, col):
        target_rem.iat[r, c] = np.nan
        
    final_df = pd.concat([df[["Diabetes_012", "Sex"]], target_rem], axis=1)
    return final_df

In [11]:
final_male_df = unclean_df(df_male)
final_female_df = unclean_df(df_female)
final_male_df.isna().sum()

Diabetes_012              0
Sex                       0
HighBP                  160
HighChol                139
CholCheck               131
BMI                     141
Smoker                  159
Stroke                  164
HeartDiseaseorAttack    161
PhysActivity            125
Fruits                  145
Veggies                 144
HvyAlcoholConsump       142
AnyHealthcare           154
NoDocbcCost             140
GenHlth                 139
MentHlth                142
PhysHlth                152
DiffWalk                129
Age                     147
Education               143
Income                  141
dtype: int64

In [12]:
final_female_df.isna().sum()

Diabetes_012              0
Sex                       0
HighBP                  127
HighChol                102
CholCheck               113
BMI                     102
Smoker                  107
Stroke                  101
HeartDiseaseorAttack    109
PhysActivity             92
Fruits                   95
Veggies                  97
HvyAlcoholConsump       132
AnyHealthcare           105
NoDocbcCost             105
GenHlth                 106
MentHlth                113
PhysHlth                136
DiffWalk                112
Age                     118
Education               108
Income                  118
dtype: int64

In [13]:
final_male_df.to_csv("./data/diabetes/diabetes_male_data_with_missing.csv", index=False)
final_female_df.to_csv("./data/diabetes/diabetes_female_data_with_missing.csv", index=False)